/* Reset CSS to make it consistent on all browsers */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.15;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**/
/**/
/* Normal CSS */
/**/
/**/

html {
	background-color: #333344;
	color: #eeeeff;
	text-justify: inter-word;
	text-align: justify;
}

html, body {
	height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
}

p, h1, h2, h3, h4, h5, h6, li {
	margin: 0.5% 5%;
}

h1 {
	font-size: 3em;
	line-height: 2;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1.1em;
}

footer {
	background-color: #444455;
	column-count: 2;
	padding: 1em 5%;
	position: absolute;
}

a {
	text-decoration: underline;
}

li {
	list-style-type: square;
	display: list-item;
	list-style-position: inside;
}

/**/
/**/
/* Classes */
/**/
/**/
/* For centering certain object */

.center-object {
	margin: auto;
	width: 50%;
}

.center-text {
	text-align: center;
}

/* Animation on hover */

.hover-animation {
	display: inline-block;
	position: relative;
}

.hover-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #eeeeff;
  transform-origin: center;
  transition: transform 0.1s ease-out;
}

.hover-animation:hover:after {
  transform: scaleX(1);
  transform-origin: top;
}

/* Navigation bar stuff */
.nav-item a {
	text-decoration: none;
}

.topnav {
	background-color: #444455;
	overflow: hidden;
}

.nav-item {
 	float: left;
 	color: #eeeeff;
 	text-align: center;
 	padding: 1.1em 1.1em;
 	font-size: 1.2em;
}
.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* Link boxes */
.link-box-container-left {
	width: 42.5%;
	display: block;
	background-color: #444455;
	margin: 0 2.5% 0 5%;
	padding: 1em 5%;
}

.link-box-container-right {
	width: 42.5%;
	display: block;
	background-color: #444455;
	margin: 0 5% 0 2.5%;
	padding: 1em 5%;
}

.link-box {
	width: 7em;
	height: 10em;
	display: inline-block;
	background-color: #333344;
}

.link-box a {
	text-decoration: none;
}

/* This has been shelved for now, because it looks weird, and I can't find a good use case for it.
Parallax scrolling thing for image
.parallax {
	Image for parallax
	background-image: url("images/glitch-parmjot.png");

	Relative height so that it doesn't cover the whole page, and so that it works on most devices
	height: 40%;
	margin: 2% 5%;

	parallax effect thing
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

If device has a small screen, disable effect
@media only screen and (max-device-width: 1366px) {
  	.parallax {
    	background-attachment: scroll;
  	}
}
*/
