/* Reset CSS to make it consistent on all browsers */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.15;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Import Fonts and set classes for Font Weights */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* I'll probably never use these classes, but it's good reference for what values to use at least */
.font-weight-light {
	font-weight: 200;
}

.font-weight-bold {
	font-weight: 700;
}
/* Normal CSS */

html {
    height: 100%;
	/* Pale Rainbow Gradient Background */
	background-image:
	linear-gradient(180deg,
	rgb(250, 240, 240),
	rgb(250, 245, 240),
	rgb(250, 250, 240),
	rgb(240, 250, 240),
	rgb(240, 250, 250),
	rgb(240, 240, 250),
	rgb(250, 240, 250),
	rgb(250, 240, 245),
	rgb(250, 240, 240));
	color: #111111;
	font-family: 'Work Sans', sans-serif;
	/* Make all text go to the bounds of the container, unless specified otherwise */
	text-align: justify;
	text-justify: inter-word;
}

body {
	margin: 0 10%;
    height: 100%;
	padding: 0 5%;
	padding-top: 150px;
	margin-top: -110px;
	background-color: rgba(255, 255, 255, 0.5);
	/* Shadow around main content */
	box-shadow:
	0 4px 8px 0 rgba(0, 0, 0, 0.2),
	0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 1.25em;
}

footer {
	text-align: center;
	font-weight: 200;
	font-size: 110%;
	padding: 0 0 1.5em 0;
}

img {
	max-width:100%;
	height:auto;
}

a {
	color: #111111;
	text-decoration: none;
	font-style: italic;
}

h1 {
	font-size: 300%;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 150%;
	font-weight: 700;
}

h4 {
	font-size: 120%;
}

h5 {
	font-size: 90%;
	font-weight: 700;
}

p {
	line-height: 1.5;
}

hr {
	animation: Rainbow-Background 10s linear 1s infinite normal;
	animation-fill-mode: backwards;
	height: 5px;
	border-width: 0;
	margin: 20px 0;
}

.hr {
	display: inline-block;
}
.hr:after {
	content: '';
	display: block;
	animation: Rainbow-Background 10s linear 1s infinite normal;
	animation-fill-mode: backwards;
	height: 5px;
	border-width: 0;
	margin: 0 0 5px;
}

.small-hr {
	display: inline-block;
}
.small-hr:after {
	content: '';
	display: block;
	animation: Rainbow-Background 10s linear 1s infinite normal;
	animation-fill-mode: backwards;
	height: 2.5px;
	border-width: 0;
	margin: 0 0 5px;
}

header {
	text-align: center;
	font-weight: 200;
	padding: 50px 0;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.center-text {
	text-align: center;
}

/* For 404 Page */

.error-text {
	font-weight: 300;
    text-align: center;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 300px;
}

/* Navbar stuff */
nav {
	margin-bottom: 10px;
}

nav a {
	font-style: normal;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	/* Shadow below Nav Bar */
	box-shadow:
	0 4px 8px 0 rgba(0, 0, 0, 0.2),
	0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav li {
	float: left;
	min-width: 10%;
}

nav li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.active-page {
	animation: Rainbow-Background 10s linear 1s infinite normal;
	animation-fill-mode: backwards;
}

/* Rainbow Background animation */

@keyframes Rainbow-Background {
	0% {background-color: rgb(250, 200, 200);}
	14.28% {background-color: rgb(250, 225, 200);}
	28.57% {background-color: rgb(250, 250, 200);}
	42.85% {background-color: rgb(200, 250, 200);}
	57.14% {background-color: rgb(200, 250, 250);}
	71.42% {background-color: rgb(200, 200, 250);}
	85.71% {background-color: rgb(250, 200, 250);}
	100% {background-color: rgb(250, 200, 225);}
}

/* Underline animation on Hover */
.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #111111;
}

.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #111111;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
